


#SignUpButtons {
    margin-top: 1%;
    height: 100%;
    width:100%;
    justify-self: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#SignUpContent{
    height: 100%;
    width:100%;
    flex-direction: column;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: space-between;
}

.loginFormIcons {
    color:#b1b4b5;
}

#errorText {
    color:red;
}

#SignUpModalContent {
    height: 100%;
    width:100%;
}

#SendForm{
    margin-left: 5%;
    margin-right: 5%;

}

#SendFormContent{
    display: flex;
    flex-direction: column;
    height:100%;
    width:100%;
}

#sendFormForm{
    display: flex;
}