

#header  {
    display: flex;
    width: 100%;
    height: 13%;
    position: fixed;
    top: 0;
    right: 0;
    background: #f0f2f5;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    padding-left: 3%;
    padding-right: 3%;
    padding-top: .5%;
    padding-bottom: 1%;
}

#SignHeaderContent {
    display: flex;
    height: 100%;
    width:70%;
    flex-direction: column;
    justify-content: space-around;
    align-items: stretch;
    text-align: center;
    flex-shrink: 2;
}

#drawerContents {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    justify-content: space-between;
    overflow: auto;
 
}

#drawerDates{
   justify-self: flex-end;
}

#drawerHeaders{
    margin-left: 2%;
}

#drawerText{
    margin-left: 5%;
}

#FileViewerWBoxes{
    height:85%;
    width:100%;
    margin-top: 5%;
    overflow: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#DivWCanvasAndImage{
    position: relative;
}

#SimpleCanvas{
    position: absolute;
    z-index: 20;
    width:100%;
    height:100%;
    user-select: none;
    outline: none;
}

#keyTags{
    display: flex;
    flex-direction: column;
    width:80%;
    height:18vh;
    margin-top: 4%;
    margin-bottom: 15%;
    margin-left: 7%;
    flex-direction: column;
    justify-content: space-between;
}