
@{
    Layout = "/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Index";


}
<div id="root" class="reactApp"></div>
@section scripts {

    <script src="/Scripts/react/build/static/js/bundle.js"></script>

}