<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signature Collection</title>
    @RenderSection("head", required: false)
    <link href="/Content/Site.css" rel="stylesheet" />

    <link href="/Scripts/react/src/Components/User/ChooseUser.css" rel="stylesheet" type="text/css" />

    <link href="/Scripts/react/node_modules/antd/dist/antd.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Components/Dashboard/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Pages/Requester/Dashboard/App.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Components/Dashboard/SearchHeader.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Components/Dashboard/DashItem.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Components/LogIn-SignUp/Login-SignUp.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Components/Signatures/DrawTest.css" rel="stylesheet" type="text/css" />
    <link href="/Scripts/react/src/Pages/Signer/AddSignatures/AddSignatures.css" rel="stylesheet" type="text/css" />
    <link href="~/Scripts/react/src/Pages/Requester/Send/Send.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <div class="body-content">
        @RenderBody()
       
    </div>
    @RenderSection("scripts", required: false)
</body>
</html>
