.Page{
  text-align: center;
  background-color: rgb(177, 180, 181);
  width:100%;
  height:100%;
}
.ant-input-group-addon{
  width:15%;
}
input{
  max-width: 100%;
}
body{
  background-color:rgb(177, 180, 181);
}
html{
  background-color: rgb(177, 180, 181);
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}
.page-items{
  margin-left: 10%;
  margin-right:10%;
  margin: auto;
  display: inline-block;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
